/* Styling for the work section container */
.work-container{
    padding: 20px;
    margin: 4rem 6rem;
    position: relative;
}

/* Styling for the work section title */
.work-container h4{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #ffff;
}

/* Styling for the subheading in the work section */
.work-container .work-underP{
    font-size: 1.5rem;
    color: #ffff;
    margin: 20px;
}

/* Center align the subheading */
.work-subheading{
    text-align: center;
}

/* Styling for the work content container */
.work-content{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

/* Styling for each work item */
.work-item{
    border: 2px solid #09BE67;
    border-radius: 10px;
    padding: 10px;
}

/* Styling for slider */
.slick-slide > div{
    margin: 20px 30px;
}

/* Styling for images inside work items */
.work-item img{
    width: 200px;
    height: auto;
    align-content: center;
}

/* Styling for the work item title */
.work-item h4{
    text-align: center;
    font-size: 1.7rem;
    color: #09BE67;
    margin-bottom: 10px;
}

/* Styling for the work item description */
.work-item p{
    font-size: 1.2rem;
    text-align: center;
    color: #ffff;
}

/* Styling for the work image container */
.work-image {
    display: flex;
    justify-content: center;
    text-align: center;
}


/* Styling for images inside the work image container */
.work-image img {
    max-width: 50%;
    max-height: 100%;
}

/* Styling for the container of work content items */
.work-content-items{
    margin: 0px 50px;
}

/* Styles for the link */
.service-item a {
    display: inline-block;
    margin-top: 10px; /* Adjust as needed */
    color: #09BE67; /* Link color */
    text-decoration: none;
}

/* Styles for the external link icon */
.service-item a i {
    margin-left: 5px; /* Space between link text and icon */
}

/* Styling for the testimonials section */
.work-testimonials{
    padding: 10px;
    /* margin: 3rem 4rem 2rem; */
}

/* Styling for the testimonials section title */
.work-testimonials h2{
    color: #ffff;
    text-align: center;
    font-size: 2rem;
}

.work-testimonials .testPar{
    color: #ffff;
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
}

.testPar span{
    color: #09BE67;
}

/* Styling for the testimonial items container */
.testimonial-items{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* Styling for the testimonial item images */
.item-testi img{
    width: 200px;
    height: auto;
    margin: 10px;
}

/* Styling for the testimonial item name */
.name{
    color: #ffff;
    margin: 5px;
}

/* Styling for the span inside the testimonial item name */
.name span{
    color: #09BE67;
}

.item-testi{
    border: 2px solid #09BE67;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: 0 5px 25px rgba(138, 240, 163, 0.322);
}


/* Styling for the testimonial item description */
.item-testi p{
    color: #ffff;
    margin: 10px 5px;
}

.myQuote{
    margin-left: 10px;
}

@media (max-width: 1020px) {
    .work-container{
        margin: 4rem ;
    }
    
}

/* Media query for screens with max width of 768px */
@media (max-width: 768px) {
    .work-container{
        padding: 10px;
        margin: 1rem;
    }

    .work-container h4{
        font-size: 1.2rem;
    }

    .work-container .work-underP{
        font-size: 13px;
        margin: 10px;
    }

    .slick-slide > div{
        margin: 10px 15px;
    }

    .work-content-items{
        margin: 0px 15px;
    }

    .work-item h4{
        font-size: 1.2rem;
    }
    
    .work-item p{
        font-size: 13px;
    }

    /* Adjust styles for the testimonials section */
    .work-testimonials{
        padding: 0px;
        margin: 1.5rem 2rem 1rem;
    }

    .work-testimonials h2{
        font-size: 1.2rem;
    }

    .work-testimonials h3{
        font-size: 1.3rem;
        color: #ffff;
    }

    .work-testimonials .testPar{
        font-size: 13px;
    }

    .testimonial-items {
        flex-direction: column;
    }

    .item-testi img{
        text-align: center;
        align-items: center;
        align-content: center;
        border-radius: 10px;
    }

    .item-testi {
        margin-bottom: 20px; 
        text-align: center; 
    }

}

