/* .work-container{
    border: 2px solid #09BE67;
    border-radius: 10px;
    padding: 10px;
    margin: 4rem;
    position: relative;
}

.work-content h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #ffff;
}

.work-items{
    display: flex;
    flex-direction: row;
}

.work-content p{
    padding: 10px;
    text-align: center;
    color: #ffff;
}

.work-content p span{
    color: #09BE67;
}

.work-item-in{
    border: 2px solid #09BE67;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.work-item-in img{
    width: 200px;
    height: auto;
}

.work-testimonials{
    padding: 10px;
}

.testimonial-items{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.item-testi img{
    width: 200px;
    height: auto;
} */

/* Work container */
.work-container {
    border: 2px solid #09BE67;
    border-radius: 10px;
    padding: 50px;
    margin: 4rem;
}

/* Work content */
.work-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Section heading */
.work-content h2 {
    font-size: 28px;
    color: #ffff;
    text-align: center;
}

/* Horizontal rule */
.work-content hr {
    border: 1px solid #09BE67;
    margin: 20px auto;
    width: 80%;
}

/* Paragraph */
.work-content p {
    font-size: 16px;
    color: #ffff;
    line-height: 1.6;
    text-align: justify;
}

/* Span within paragraph */
.work-content span {
    font-weight: bold;
    color: #09BE67;
}

/* Work items */
.work-items {
    margin-top: 30px;
    border: 2px solid #09BE67;
    border-radius: 10px;
    padding: 15px;
}

/* Work item container */
.work-item-in {
    text-align: center;
}

/* Work item image */
.work-item-in img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.work-testimonials{
    padding: 10px;
}

.testimonial-items{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.item-testi img{
    width: 200px;
    height: auto;
}

.slick-dots {
    bottom: 20px; /* Adjust position */
}

.slick-dots li button {
    font-size: 18px; /* Adjust dot size */
   
}

/* Arrow style */
.slick-prev,
.slick-next {
    font-size: 30px; /* Adjust arrow size */
    background: none; /* Remove background */
    /* Arrow color */
    z-index: 1; /* Ensure arrows are on top */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor on hover */
    position: absolute; /* Position arrows absolutely */
    top: 50%; /* Align arrows vertically in the middle */
    transform: translateY(-50%);
}

.slick-prev {
    left: 0; /* Position arrow */
}

.slick-next {
    right: 0; /* Position arrow */
}