/* Styles for the back to top button */
    .back-to-top {
      position: fixed;
      bottom: 60px;
      right: 60px;
      cursor: pointer;
      background-color: #09BE67;
      color: white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.4s;
    }

    /*Hover effect for the button */
    .back-to-top:hover {
      opacity: 0.4;
    }

    /* Styles for the icon inside the button */
    .icon {
      font-size: 43px;
      color: #05052C;
    }
