/*Styles for navigation bar*/

/*Navbar wrapper*/

.NavBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    padding: 0 6rem;
    border: 2px solid red;
    position: relative; /* Add this line */
}

.menuItems {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
    list-style: none;
    z-index: 10000;
    width: 70vw;
  }
 
.mylogo {
    width: 3rem;
    height: auto;
    margin-top: 1.5rem;
    position: absolute; 
    left: 2rem; 
    margin-right: 5rem;
    margin-left: 5rem;
    cursor: pointer;
}

.navToggler {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 2rem; 
    top: 50%; 
    transform: translateY(-50%); 
}

.menu-item{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffff;
    position: relative;
    cursor: pointer;
}

.menu-item:hover{
    color: #09BE67;
}

.navToggler{
    cursor: pointer;
    display: none;
}

.navToggler svg {
    width: 3rem;
    height: 3rem; /* Set the height to make sure the SVG is visible */
    transition: 0.4s ease-in;
    margin-top: 2rem;
  }


  @media screen and (max-width: 768px) {
    .navToggler {
        display: block;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: fixed;
        top: 2rem; /* Adjust as needed */
        right: 2rem;
        z-index: 999;
    }

    .menuItems {
        position: fixed;
        top: 10vh;
        right: 0;
        width: 100%;
        height: 50vh;
        background:  #05052C;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        gap: 3rem; /* Reduce the gap between menu items */
        justify-content: flex-start;
        padding: 3rem 0 0 0;
      }

      .mylogo {
        width: 3rem;
        height: auto;
        margin-top: 1.5rem;
        position: absolute; 
        left: 2rem; 
        margin-right: 5rem;
        margin-left: 1rem;
        cursor: pointer;
    }
}

.menuActive{
    transform: translateX(0);
  }
