/*Styles for navigation bar*/
.NavBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    padding: 0 6rem;
    position: relative;
    margin: 1.5rem 3rem; 
}

/*Styles for menu items*/
.menuItems {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
    list-style: none;
    z-index: 10000;
    width: 70vw;
  }
 
  /*Styles for items*/
.mylogo {
    width: 3rem;
    height: auto;
    margin-top: 1.5rem;
    position: absolute; 
    left: 2rem; 
    margin-right: 5rem;
    margin-left: 5rem;
    cursor: pointer;
}

/*Styles for toggle button*/
.navToggler {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 2rem; 
    top: 50%; 
    transform: translateY(-50%); 
    display: none;
}

/*Styles for links*/
.menu-item{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #ffff;
    position: relative;
    cursor: pointer;
}

/*Styles for links when hovering*/
.menu-item:hover{
    color: #09BE67;
}

/*Styles for icon*/
.navToggler svg {
    width: 3rem;
    height: 3rem; 
    transition: 0.4s ease-in;
    margin-top: 2rem;
  }

  /*media queries for tablets*/
  @media (max-width: 1024px) {
    
    .NavBar {
        margin: 0 ; 
    }

    .menuItems {
        gap: 2rem;
      }

    .menu-item{
        font-size: 1.3rem; 
    }
    
  }

/*media queries for mobile phones*/
  @media (max-width: 768px) {
    .navToggler {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        top: 2rem;
        margin-right: 0.5rem; 
        z-index: 10000;
    }

    .NavBar {
        margin: 0; 
    }

    .menuItems {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background:  #05052C;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        gap: 5rem;
        justify-content: center;
        padding: 3rem 0 0 0;
      }

      .mylogo {
        margin-left: 1rem;
        cursor: pointer;
    }
    
    @media (max-width: 320px) {
        
    }
}

.menuActive{
    transform: translateX(0);
  }
