.nav-wrapper{
    background: #05052C;
    padding:  0.5rem 2rem 0px 2rem;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
    border: 1px solid red;
}

.nav-content{
    border: 1px solid yellow;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 5px;
}

.mylogo{
    width: 4rem;
    height: auto;
}

.nav-content ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-content li{
    margin: 0.1rem;
}

.menu-item{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #ffff;
    position: relative;
    cursor: pointer;
}

.menu-item:hover{
    color: #09BE67;
}

.menu-button{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.4rem;
    color: #ffff;
    
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}

.menu-button:hover{
    color: #09BE67;
}


.icon {
    color: black;
    transition: color 0.3s;
  }
  .icon:hover {
    color: #09BE67;
  }

@media (max-width: 425px) {
    .mylogo{
        width: 3rem;
        height: auto;
    }
}

@media (max-width: 769px) {
    .menu-button{
        display: block;
    }
    .nav-content ul{
        display: none;
    }
}

@media (max-width: 1325px) {
    .nav-wrapper{
        padding: 0 2rem;
    }
}