 .home-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin: 0 5rem 0 5rem; */
    padding: 20px;
}

.home-content{
    flex: 1;
}

.links-container{
    text-align: center;
}

.heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px 60px;
}

.heading-container h2{
    font-size: 3rem;
    color: #ffff;
}

/* .home-content h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 5rem;
    color: #ffff;
    text-align: center;
    margin-bottom: 10px;
} */

.home-content p{
    margin: 15px;
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
}

.home-content a{
    position: relative;
    display: inline-block;
    padding: 15px 30px; 
    border: 2px solid #09BE67;
    border-radius: 10px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 20px 50px;
}

.home-content a:hover{
    background-color: #09BE67;
    color: #ffff;
    
}

hr{
    border: 1px solid #09BE67;
    margin: 10px auto;
    width: 90% ;
}

/* .HomeBlur{
    width: 22rem;
    height: 30rem;
    left: 0;
} */
/*
@media (max-width: 1025px) {
    .home-content h2{
        font-size: 3rem;
        line-height: 4rem;
    }
    .home-content p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }
    hr{
        width: auto;
    }
    .home-content a{
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .home-container{
        flex-direction: column;
    }

    .home-content h2{
       
    }

    hr{
        width: auto;
    }

    .home-content a{
        flex-direction: row;
    }

    .home-content h2, .home-content p{
        width: auto;
        text-align: center;
    }

    .home-container::after, .home-container::before{
        content: "";
        width: 18rem;
        height: 18rem;
    }

    .home-container::after{
        top: 0rem;
        left: 0rem;
    }

    .home-container::before{
        bottom: 2rem;
        right: 0rem;
    }
}

@media (max-width: 600px) {
    .home-content h2{
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .home-content p{
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    hr{
        width: auto;
    }
    .home-content a{
        font-size: 0,.8rem;
        line-height: 3rem;
    }
} */



/* Home.css */

/* .home-container {
    padding: 20px;
}

.home-content {
    text-align: center;
}

.home-content h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.custom-hr {
    width: 50%;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.links-container a:hover {
    background-color: #0056b3;
} */

@media (max-width: 768px) {
   
    .heading-container{
        margin: 0px;
    }

    .heading-container h2{
        font-size: 25px;
    }
    
    .paragraph-container{
        margin: 0px;
        text-align: center;
    }

    .home-content p{
        font-size: 15px;
        line-height: 18px;
        margin-left: 10px;
    }
    .links-container{
        flex-direction: row;
        text-align: center;
        margin: 5px;
        gap: 5px;
    }
    .links-container a{
        font-size: 15px;
        margin: 5px 5px;
    }
} 
