.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 2rem;
}

.home-content{
    flex: 1;
}

.home-content h2{
    font-size: 3.0rem;
    font-weight: 600;
    line-height: 5rem;
    padding: 3%;
    color: #ffff;
}

.home-content p{
    width: 80%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    padding-top: 2%;
}

hr.custom-hr{
    color: #09BE67;
}

.home-content a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #09BE67;
    border-radius: 10px;
    color: #ffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;text-align: center;
    margin:  0 10px;
}

.home-content a:hover{
    background-color: #09BE67;
    color: #ffff;
}