.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 2rem;
}

.home-content{
    flex: 1;
}

.home-content h2{
    font-size: 3.0rem;
    font-weight: 600;
    line-height: 5rem;
    padding: 3%;
    color: #ffff;
    margin: 0px 20px 0px 20px;
}

.home-content p{
    width: 80%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    padding-top: 2%;
    margin: 0px 10px 5px 0px;
}

.home-content a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #09BE67;
    border-radius: 10px;
    color: #ffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;text-align: center;
    margin:  30px 10px 0px 200px;
}

.home-content a:hover{
    background-color: #09BE67;
    color: #ffff;
    
}

hr{
    border: 1px solid #09BE67;
}

@media (max-width: 1025px) {
    .home-content h2{
        font-size: 3rem;
        line-height: 4rem;
    }
    .home-content p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }
    hr{
        width: auto;
    }
}
@media (max-width: 768px) {
    .home-container{
        flex-direction: column;
    }

    .home-content h2{
        margin-top: 3rem;
    }

    .home-content h2, .home-content p{
        width: auto;
        text-align: center;
    }

    .home-container::after, .home-container::before{
        content: "";
        width: 18rem;
        height: 18rem;
    }
}