/* Styles for the cursor element */

.cursor{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #09BE67;
    position: fixed;
    z-index: 999;

    /* Media query to hide the cursor on screens smaller than 1024px */
    @media (max-width:1024px) {
        display: none;
    }
}
