.cursor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #09BE67;
    position: fixed;
    z-index: 999;

    @media (max-width:768px) {
        display: none;
    }
}