

/* Styles for the contact container */
.contact-container{
    height: 100%;
    margin: 2rem 7rem;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles for the heading */
.contact-container h1{
    text-align: center;
    color: #ffff;
    padding: 10px;
    font-size: 2rem;
}

/* Styles for the contact contents */
.contact-contents{
    display: flex;
    align-items: center;
}

/* Styles for the text container */
.textContainer{
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
}

/* Styles for the text item */
.item{
    /* width: 550px; */
    p{
        font-size: 1.3rem;
        color: #ffff;

        /* Styles for the span inside the text item */
        span{
            color: #09BE67;
        }
    }
}

/* Styles for the map item */
.item-map{
    justify-content: center;

    /* Styles for the map icon */
    .map{
        color: #ffff;
        font-size: 200px;
        margin-left: 40px;
    }

    /* Styles for the map location text */
    h2{
        color: #ffff;
        font-size: 3rem;
        text-align: center;
    }
}

/* Styles for the form container */
.formContainer{
    flex: 1;
    position: relative;
    border: 2px solid #09BE67;
    border-radius: 10px;
    padding: 0 10px 10px;
    margin-top: 2rem;

    /* Styles for the form heading */
    h2{
        color: #ffff;
        text-align: center;
        /* margin-bottom: 15px; */
        margin: 20px;
    }

    /* Styles for the phone SVG */
    .phoneSVG{
        stroke: #09BE67;
        position: absolute;
        margin: auto;
        z-index: -1;
        max-width: 100%;
        height: auto;
    }
}

/* Styles for the form */
.formContainer form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Styles for the form inputs and textarea */
.formContainer input, textarea{
    padding: 15px;
    background-color: transparent;
    border: 2px solid #09BE67;
    color: #ffff;
    border-radius: 5px;
}

/* Styles for the send button container */
.send-btn-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 1px;
}

/* Styles for the form button */
.formContainer button{
    color: #ffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #09BE67;
    cursor: pointer;
    font-weight: 600;
    font-size: 40px;
    width: 300px;
    height: 76px;
    justify-content: center;
    text-align: center;
}


/* CSS */

.invalid {
    border: 2px solid red;
}

.error {
    color: red;
    margin-top: 1px;
}



/* Media query for smaller screens */
@media (max-width: 1020px) {
    .contact-contents{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

}

/* Media query for smaller screens */
@media (max-width:768px) {

    /* Adjusted styles for the contact container */
    .contact-container{
        border-radius: 10px;
        margin: 1rem;
        /* margin: 0 1rem; */
        margin:  15px;
        padding: 5px 5px 5px 5px;
        
    }

     /* Adjusted styles for the heading */
    .contact-container h1{
        text-align: center;
        color: #ffff;
        padding: 10px;
        font-size: 1.3rem;
    }

    .item{
        margin: 0 10px;
    }
    /* Adjusted styles for the contact contents */
    .contact-contents{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    /* Adjusted styles for the text container paragraph */
    .textContainer p{
        font-size: 13px;
        color: #ffff;
        margin-top: 5px;
        line-height: 1.6;
    }

    /* Adjusted styles for the map icon */
    .item-map .map{
        color: #ffff;
        font-size: 3rem;align-content: center;
    }

    .item-map{
        align-content: center;
    }
    .item-map h2{
        font-size: 2rem;
    }
    
    /* Adjusted styles for the phone SVG */
    /* .phoneSVG{
        display: block;
        width: 50px;
        height: 40px;
    } */

    .formContainer{
        width: 350px;
        height: 400px;
    }

    .send-btn-container{
        flex-direction: column;
    }

    /* .sendButton{
        align-items: center;
        color: blue;
    } */
    
    /* 
    .contact-content-info h1{
        color: #ffff;
         text-align: center; 
        font-size: 1.5rem;
    }

    .contact-content-paragraph{
        text-align: center;
    }

    .contact-content-paragraph p{
        font-size: 13px;
        color: #ffff;
        margin-top: 5px;
        line-height: 1.6;
    }

    .contact-content-form{
        align-content: center;
        border: 2px solid #09BE67;
        border-radius: 10px;
        padding: 10px;
        padding-bottom: 25px;
        width: 320px;
        height: 400px;
    }

    .contact-content-form h3{
        text-align: center;
        color: #ffff;
        font-size: 1.3rem;
    }

    .contact-content-form .input-box input {
        margin: 5px;
        width: 290px;
        height: 30px;
        border-radius: 5px;
    }
    
     .contact-content-form .input-box textarea{
        margin: 5px;
        width: 290px;
        height: 160px;
        border-radius: 5px;
    }

    .send-btn{
        text-align: center;
        align-items: center;
        align-content: center;
        font-size: 1.5rem;
        color: #fff;
        background: #09BE67;
        display: inline-block;
        font-weight: 500;
        letter-spacing: 2px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s ease;
        width: 150px;
        border: 2px solid white;
    }

    .map-container{
        align-items: center;
        align-content: center;
        display: flex;
        justify-content: center; 
        align-items: center;
        font-size: 4rem;
        border: 2px solid white;
        padding-top: 10px;
        padding: 10px;
    } */

} 