.contact-container{
    margin: 0 4rem;
}

.contact-container h2{
    text-align: center;
    color: #ffff;
    padding: 10px;
    font-size: 3rem;
}

.contact-content{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}


.contact-content-form{
    align-content: center;
    border: 2px solid #09BE67;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 25px;
    width: 600px;
    height: 530px;
}

.contact-content-form h3{
    text-align: center;
    color: #ffff;
    font-size: 2.1rem;
}

/* .contact-content-form .input-box{
    margin: 10px;
    width: 600px;
    height: auto;
} */

.contact-content-form .input-box input {
    margin: 10px;
    width: 540px;
    height: 40px;
    border-radius: 5px;
}

 .contact-content-form .input-box textarea{
    margin: 10px;
    width: 540px;
    height: 195px;
    border-radius: 5px;
}

.contact-content-info{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contact-content-info p{
    font-size: 1.5rem;
    color: #ffff;
    margin-top: 1.5rem;
}

.contact-content-info p span{
    color: #09BE67;
}

.contact-content-info h1{
    color: #ffff;
    text-align: center;
    font-size: 3rem;
}

.send-btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: px;
}

.send-btn{
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
    color: #fff;
    background: #09BE67;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    width: 200px;
    border: 2px solid white;
}

.map-container{
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 4rem; 
    width: 100%;
    padding-top: 4rem;
}

.map{
    color: #ffff;
    font-size: 10rem;
}

@media (max-width:768px) {
    .contact-container{
        margin: 0 1rem;
    }

    .contact-container h2{
        text-align: center;
        color: #ffff;
        padding: 10px;
        font-size: 1.3rem;
    }

    .contact-content-info p{
        font-size: 13px;
        color: #ffff;
        margin-top: 5px;
    }

    .contact-content{
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }

}