.footer-container{
    padding: 20px ;
    background-color: #a5a58a;
}

.footer-social h3{
    text-align: center;
    font-size: 2rem;
}

.footer{
    text-align: center;
    color: black;
    font-weight: 600;
}

.socials{
    color: black;
    justify-content: center;
   
    margin: 20px;
    font-size: 2.5rem;
    display: flex;
    gap: 10px;
}

.footer-social .socials a:visited {
    color: black; 
}

.socialIcon:hover{
    color: #09BE67;
}